# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

variables:
  PROJECT_TITLE: 'CoreHR Frontend'

name: $(PROJECT_TITLE)

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '6.x'
  displayName: 'Install node'

- script: rm -rf node_modules
  displayName: 'Remove depracated node_module'

- script: npm install @nuxt/cli
  displayName: 'Install @nuxt/cli'

- script: npm install
  displayName: 'Install packages'

- script: npm run build
  displayName: 'Run build'